OpenAI
pandas
python-dotenv
langchain
langchain_community
langchain_openai
black
chromadb
pypdf
fastapi
scikit-learn
prometheus-fastapi-instrumentator
pydantic
uvicorn
mlflow
mysql-connector-python
apache-airflow
apache-airflow-providers-mysql